.topbar {
    display: flex;
    align-items: center;
    @media(max-width: $breakpoint_md){
        justify-content: space-around;
    }
    position: relative;
    .logo {
        padding: 25px 30px;
        margin-right: 80px;
        @media(max-width: $breakpoint_md){
            &{
                margin-right: 0;
                img{
                    width: 300px;
                }
            }
        }
        @media(max-width: $breakpoint_sm){
            &{
                img{
                    width: 200px;
                }
            }
        }
        img{
            display: block;
        }
    }
}
.menu {
    display: flex;
    &-item {
        &-link {
            padding: 0 15px;
            display: block;
            font-size: 18px;
            color: black;
            @include transitionEff;
            position: relative;
            &:hover {
                font-weight: bold;
                @include transitionEff;

                &:after {
                    content: "";
                    position: absolute;
                    right: 50%;
                    display: block;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: $colorBlue;
                    margin: 0 auto;
                }
            }
        }
    }
}
.hamburger {
    cursor: pointer;
    display: none;
    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        background-color: black;
        @include transitionEff;
    }
}
.header-content {
    width: 100%;
    &-images {
        height: 951px;
        background-color: $colorBlue;
        position: relative;

        .nuvola {
            position: absolute;
            top: 415px;
            background-image: url("../images/nuvola.png");
            background-repeat: no-repeat;
            margin-left: -150px;
            width: 527px;
            height: 245px;
            animation: move 5s ease infinite;
        }

        .nuvola2 {
            position: absolute;
            right: 10px;
            top: 88px;
            background-image: url("../images/nuvola2.png");
            background-repeat: no-repeat;
            width: 434px;
            height: 193px;
            animation: move 5s ease infinite;
        }

        .nuvola3 {
            position: absolute;
            top: 50px;
            background-image: url("../images/nuvola3.png");
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
        }

        .despar-tribu {
            position: absolute;
            top: 72px;
            left: 356px;
            z-index: 5;
            background-image: url("../images/despar_tribu.png");
            background-repeat: no-repeat;
            width: 786px;
            height: 709px;
        }

        .pino {
            position: absolute;
            top: 43px;
            right: 108px;
            z-index: 6;
            background-image: url("../images/pino.png");
            background-repeat: no-repeat;
            width: 1391px;
            height: 764px;
            animation: move 5s ease infinite; 
        }

        .nuvola-bottom {
            width: 100%;
            background: url("../images/pezza.png") no-repeat;
            height: 235px;
            position: absolute;
            bottom: 0;
        }
    }
    @keyframes move {
        50% { transform: translateY(-20px); }
    }
    &-text {
        padding-top: 160px;
        padding-bottom: 210px;
        background-color: $colorWhite;

        .content-title {
            font-size: 98px;
            @media(max-width: $breakpoint_sm){
                font-size: 50px;
                text-align: center;
            }
            padding-right: 90px;
            text-align: right;

            .face {
                display: inline-block;
                background-image: url("../images/face.svg");
                width: 100px;
                height: 100px;
                background-size: cover;
            }
        }

        .content-desc {
            .desc-main {
                font-size: 40px;
                margin-bottom: 15px;
            }

            .desc-sub {
                font-size: 22px;
            }
        }
    }
}
.language{
    margin-left: 110px;
    position: relative;
    .dropdown{
        color: black;
        display:block;
        &::after{
            content: "";
            display: inline-block;
            background-image: url("../images/bandiera_ita.svg");
            background-position: center;
            margin-left: 10px;
            width: 15px;
            height: 15px;
        } 
    }
    .hide{
        display: none;
    }
    .bandiera-ita{
        background-image: url("../images/bandiera_ita.svg");
    }
    .bandiera-deu{
        background-image: url("../images/bandiera_deu.svg");
    }
    .dropdown-menu{
        position: absolute;
        left: -25%;
        text-align: left;
        min-width: 90px;
        border-radius: 10px;
        background-color: #fff;
        z-index: 200;
        border: 1px solid rgba(0,0,0,.15);
        .dropdown-link{
            display: block;
            color: black;
            width: 100%;
            padding: 10px;
            span{
                display: inline-block;
                background-position: center;
                margin-right: 10px;
                width: 15px;
                height: 15px;
            }
        }
    }
}

@media(max-width: $breakpoint_md){
    .language{
        display:none;
        margin-left: 30px;
    }
}
@media(max-width: $breakpoint_lg) {
    .language{
        margin-left: 30px;
    }
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .header-content-images{
        display: none;
    }
    .menu {
        position: fixed;
        z-index: 10;
        left: -100%;
        top: 111px;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background-color: $colorWhite;
        @include transitionEff;
        &.active {
            left: 0;
        }
        &-item {
            margin: 16px 0;
            &-link {
                &:hover:after {
                    display: none;
                }
            }
        }
    }
}