@mixin transitionEff{
    transition: all .5s ease;
}

@mixin btn( $width, $height, $borderRadius ){
    color: $mainColor1;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    width: $width;
    height: $height;
    border-radius: $borderRadius;
    border: 1px solid $mainColor1;
    background-color: $typoColorSecondary;
    transition: all .3s ease;
    &:hover{
        color: $typoColorSecondary;
        cursor: pointer;
        background-color: $mainColor1;
        
    }
}