html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.topbar {
  display: flex;
  align-items: center;
}
.topbar .logo {
  padding: 25px 30px;
  margin-right: 80px;
}
.topbar .menu {
  display: flex;
}
.topbar .menu-item {
  padding: 0 15px;
}
.topbar .menu-item-link {
  font-size: 18px;
  color: black;
  transition: all 0.5s ease;
}
.topbar .menu-item-link:hover {
  font-weight: bold;
  transition: all 0.5s ease;
}

.header-content {
  width: 100%;
}
.header-content-images {
  height: 951px;
  background-color: #5aaee8;
  position: relative;
}
.header-content-images .nuvola {
  position: absolute;
  top: 415px;
  overflow: hidden;
}
.header-content-images .nuvola img {
  margin-left: -150px;
}
.header-content-images .nuvola2 {
  position: absolute;
  right: 10px;
  top: 88px;
}
.header-content-images .nuvola3 {
  position: absolute;
  top: 50px;
}
.header-content-images .despar-tribu {
  position: absolute;
  top: 72px;
  left: 356px;
  z-index: 5;
}
.header-content-images .pino {
  position: absolute;
  top: 43px;
  right: 108px;
  z-index: 6;
}
.header-content-images .nuvola-bottom {
  width: 100%;
  background: url("../images/pezza.png") no-repeat;
  height: 235px;
  position: absolute;
  bottom: 0;
}
.header-content-text {
  padding-top: 160px;
  padding-bottom: 210px;
  background-color: #ffffff;
}
.header-content-text .content-title {
  font-size: 98px;
  padding-right: 90px;
  text-align: right;
}
.header-content-text .content-title .face {
  display: inline-block;
  background-image: url("../images/face.svg");
  width: 100px;
  height: 100px;
  background-size: cover;
}
.header-content-text .content-desc .desc-main {
  font-size: 40px;
  margin-bottom: 15px;
}
.header-content-text .content-desc .desc-sub {
  font-size: 22px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

.orange {
  color: #e87212;
}

.blue {
  color: #5aaee8;
}

.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
@media (max-width: 575px) {
  .wrapper {
    max-width: 360px;
  }
}

.container {
  max-width: 1729px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
}
@media (max-width: 575px) {
  .row {
    flex-direction: column;
  }
}

.col-4 {
  flex: 0 0 33.33334%;
  max-width: 33.33334%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
@media (max-width: 575px) {
  .col-6 {
    max-width: 100%;
    flex: 100%;
  }
}

.gioca-section {
  background-color: #f7f7f7;
  position: relative;
}
.gioca-section .hand img {
  position: absolute;
  left: -375px;
  bottom: -75px;
}
.gioca-section .content {
  padding-bottom: 175px;
}
.gioca-section .content .content-title {
  margin-top: 200px;
  font-size: 89px;
}
.gioca-section .content .content-desc {
  margin-top: 45px;
  max-width: 680px;
}
.gioca-section .content .content-desc .content-desc-title {
  font-size: 42px;
}
.gioca-section .content .content-desc .content-desc-subtitle {
  font-size: 32px;
  margin-top: 50px;
}
.gioca-section .content .content-desc .content-desc-text {
  margin-top: 30px;
  font-size: 18px;
}
.gioca-section .content .content-desc .btn-gioca {
  margin-top: 50px;
  width: 196px;
  height: 66px;
  background-color: #e87212;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.5s ease;
}
.gioca-section .content .content-desc .btn-gioca:hover {
  opacity: 0.8;
  transition: all 0.5s ease;
}

.invita-section {
  background-color: #ffffff;
}
.invita-section .friends {
  margin-top: 45px;
  background-image: url("../images/tipi.png");
  background-size: contain;
  min-height: 769px;
  background-repeat: no-repeat;
}
.invita-section .invita-title {
  font-size: 89px;
  margin-top: 100px;
}
.invita-section .invita-text {
  margin-top: 65px;
  max-width: 714px;
}
.invita-section .invita-text-title {
  font-size: 36px;
  margin-bottom: 45px;
}
.invita-section .invita-text .how-work {
  font-size: 24px;
  margin-bottom: 30px;
}
.invita-section .invita-text .how-work-list {
  display: flex;
  margin-bottom: 30px;
}
.invita-section .invita-text .how-work-list .circle {
  display: block;
  flex-shrink: 0;
  line-height: 30px;
  text-align: center;
  width: 30px;
  height: 30px;
  background-color: red;
  color: white;
  border-radius: 50%;
  margin-right: 10px;
}/*# sourceMappingURL=style.css.map */