html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.topbar {
  display: flex;
  align-items: center;
  position: relative;
}
@media (max-width: 768px) {
  .topbar {
    justify-content: space-around;
  }
}
.topbar .logo {
  padding: 25px 30px;
  margin-right: 80px;
}
@media (max-width: 768px) {
  .topbar .logo {
    margin-right: 0;
  }
  .topbar .logo img {
    width: 300px;
  }
}
@media (max-width: 576px) {
  .topbar .logo img {
    width: 200px;
  }
}
.topbar .logo img {
  display: block;
}

.menu {
  display: flex;
}
.menu-item-link {
  padding: 0 15px;
  display: block;
  font-size: 18px;
  color: black;
  transition: all 0.5s ease;
  position: relative;
}
.menu-item-link:hover {
  font-weight: bold;
  transition: all 0.5s ease;
}
.menu-item-link:hover:after {
  content: "";
  position: absolute;
  right: 50%;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #5aaee8;
  margin: 0 auto;
}

.hamburger {
  cursor: pointer;
  display: none;
}
.hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: black;
  transition: all 0.5s ease;
}

.header-content {
  width: 100%;
}
.header-content-images {
  height: 951px;
  background-color: #5aaee8;
  position: relative;
}
.header-content-images .nuvola {
  position: absolute;
  top: 415px;
  background-image: url("../images/nuvola.png");
  background-repeat: no-repeat;
  margin-left: -150px;
  width: 527px;
  height: 245px;
  animation: move 5s ease infinite;
}
.header-content-images .nuvola2 {
  position: absolute;
  right: 10px;
  top: 88px;
  background-image: url("../images/nuvola2.png");
  background-repeat: no-repeat;
  width: 434px;
  height: 193px;
  animation: move 5s ease infinite;
}
.header-content-images .nuvola3 {
  position: absolute;
  top: 50px;
  background-image: url("../images/nuvola3.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.header-content-images .despar-tribu {
  position: absolute;
  top: 72px;
  left: 356px;
  z-index: 5;
  background-image: url("../images/despar_tribu.png");
  background-repeat: no-repeat;
  width: 786px;
  height: 709px;
}
.header-content-images .pino {
  position: absolute;
  top: 43px;
  right: 108px;
  z-index: 6;
  background-image: url("../images/pino.png");
  background-repeat: no-repeat;
  width: 1391px;
  height: 764px;
  animation: move 5s ease infinite;
}
.header-content-images .nuvola-bottom {
  width: 100%;
  background: url("../images/pezza.png") no-repeat;
  height: 235px;
  position: absolute;
  bottom: 0;
}
@keyframes move {
  50% {
    transform: translateY(-20px);
  }
}
.header-content-text {
  padding-top: 160px;
  padding-bottom: 210px;
  background-color: #ffffff;
}
.header-content-text .content-title {
  font-size: 98px;
  padding-right: 90px;
  text-align: right;
}
@media (max-width: 576px) {
  .header-content-text .content-title {
    font-size: 50px;
    text-align: center;
  }
}
.header-content-text .content-title .face {
  display: inline-block;
  background-image: url("../images/face.svg");
  width: 100px;
  height: 100px;
  background-size: cover;
}
.header-content-text .content-desc .desc-main {
  font-size: 40px;
  margin-bottom: 15px;
}
.header-content-text .content-desc .desc-sub {
  font-size: 22px;
}

.language {
  margin-left: 110px;
  position: relative;
}
.language .dropdown {
  color: black;
  display: block;
}
.language .dropdown::after {
  content: "";
  display: inline-block;
  background-image: url("../images/bandiera_ita.svg");
  background-position: center;
  margin-left: 10px;
  width: 15px;
  height: 15px;
}
.language .hide {
  display: none;
}
.language .bandiera-ita {
  background-image: url("../images/bandiera_ita.svg");
}
.language .bandiera-deu {
  background-image: url("../images/bandiera_deu.svg");
}
.language .dropdown-menu {
  position: absolute;
  left: -25%;
  text-align: left;
  min-width: 90px;
  border-radius: 10px;
  background-color: #fff;
  z-index: 200;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.language .dropdown-menu .dropdown-link {
  display: block;
  color: black;
  width: 100%;
  padding: 10px;
}
.language .dropdown-menu .dropdown-link span {
  display: inline-block;
  background-position: center;
  margin-right: 10px;
  width: 15px;
  height: 15px;
}

@media (max-width: 768px) {
  .language {
    display: none;
    margin-left: 30px;
  }
}
@media (max-width: 992px) {
  .language {
    margin-left: 30px;
  }
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .header-content-images {
    display: none;
  }
  .menu {
    position: fixed;
    z-index: 10;
    left: -100%;
    top: 111px;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: #ffffff;
    transition: all 0.5s ease;
  }
  .menu.active {
    left: 0;
  }
  .menu-item {
    margin: 16px 0;
  }
  .menu-item-link:hover:after {
    display: none;
  }
}
.gioca-section {
  background-color: #f7f7f7;
  position: relative;
}
@media (max-width: 576px) {
  .gioca-section .hand {
    display: none;
  }
}
.gioca-section .hand img {
  display: block;
  position: absolute;
  left: -375px;
  bottom: -75px;
}
.gioca-section .content {
  padding-bottom: 175px;
}
.gioca-section .content .content-title {
  margin-top: 200px;
  font-size: 89px;
}
@media (max-width: 576px) {
  .gioca-section .content .content-title {
    font-size: 50px;
  }
}
.gioca-section .content .content-desc {
  margin-top: 45px;
  max-width: 680px;
}
.gioca-section .content .content-desc .content-desc-title {
  font-size: 42px;
}
.gioca-section .content .content-desc .content-desc-subtitle {
  font-size: 32px;
  margin-top: 50px;
}
.gioca-section .content .content-desc .content-desc-text {
  margin-top: 30px;
  font-size: 18px;
}
.gioca-section .content .content-desc .btn-gioca {
  margin-top: 50px;
  width: 196px;
  height: 66px;
  background-color: #e87212;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.5s ease;
}
.gioca-section .content .content-desc .btn-gioca:hover {
  opacity: 0.8;
  transition: all 0.5s ease;
}

.invita-section {
  background-color: #ffffff;
}
.invita-section .friends {
  margin-top: 45px;
  background-image: url("../images/tipi.png");
  background-size: contain;
  min-height: 769px;
  background-repeat: no-repeat;
}
.invita-section .invita-title {
  font-size: 89px;
  margin-top: 100px;
}
.invita-section .invita-text {
  margin-top: 65px;
  max-width: 714px;
}
.invita-section .invita-text-title {
  font-size: 36px;
  margin-bottom: 45px;
}
.invita-section .invita-text .how-work {
  font-size: 24px;
  margin-bottom: 30px;
}
.invita-section .invita-text .how-work-list {
  display: flex;
  margin-bottom: 30px;
}
.invita-section .invita-text .how-work-list .circle {
  display: block;
  flex-shrink: 0;
  line-height: 30px;
  text-align: center;
  width: 30px;
  height: 30px;
  background-color: red;
  color: white;
  border-radius: 50%;
  margin-right: 10px;
}

.games-section {
  background-color: #f7f7f7;
  padding-bottom: 230px;
  background-image: url("../images/righe.png"), url("../images/disegnini.png");
  background-size: cover, cover;
}
.games-section .games-title {
  margin-top: 70px;
  margin-bottom: 140px;
  font-size: 89px;
  text-align: center;
}
.games-section .card {
  border: 5px solid white;
  border-radius: 20px;
  width: 100%;
  height: 690px;
  box-shadow: 0px 0px 10px 1px #000000;
  perspective: 1000px;
}
.games-section .card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.games-section .card:hover .card-inner {
  transform: rotateY(180deg);
}
.games-section .card-front, .games-section .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.games-section .card-front {
  background: url("../images/cuore_card.png") no-repeat center, url("../images/scuro.png") bottom, #75bdef;
  background-size: contain;
}
.games-section .card-back {
  transform: rotateY(180deg);
  position: relative;
  background: url("../images/trislogo.png") no-repeat center top 40%, url("../images/tris.png"), linear-gradient(180deg, rgb(116, 184, 51) 30%, rgb(23, 128, 46) 70%);
}
.games-section .card-back .btn-card {
  position: relative;
  margin: 0 auto;
  top: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 187px;
  height: 60px;
  border: 5px solid rgb(235, 125, 16);
  background: linear-gradient(180deg, rgb(248, 172, 110) 50%, rgb(235, 125, 16) 100%);
  color: white;
  font-size: 18px;
  border-radius: 50px;
  box-shadow: 15px 20px 40px 5px rgba(0, 0, 0, 0.7);
  transition: all 0.5s ease;
}
.games-section .card-back .btn-card:hover {
  background: linear-gradient(180deg, rgb(235, 125, 16) 50%, rgb(248, 172, 110) 100%);
  border-color: linear-gradient(180deg, rgb(235, 125, 16) 50%, rgb(248, 172, 110) 100%);
  transition: all 0.5s ease;
}
.games-section .card > .card-front {
  position: absolute;
  transform: perspective(600px) rotateY(0deg);
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.5s linear 0s;
}
.games-section .swiper {
  width: 100%;
  height: 100%;
}

.coupon-section {
  width: 100%;
}
.coupon-section .coupon {
  background: url("../images/logo_app.png") no-repeat, #5aaee8;
  background-position: top 75px right 200px;
  min-height: 575px;
  display: flex;
  align-items: center;
  padding-left: 100px;
}
@media (max-width: 576px) {
  .coupon-section .coupon {
    padding-left: 0;
    background-position: top right;
  }
}
.coupon-section .coupon .coupon-title {
  font-size: 91px;
  max-width: 606px;
}
@media (max-width: 576px) {
  .coupon-section .coupon .coupon-title {
    font-size: 50px;
    text-align: left;
  }
}
.coupon-section .coupon .coupon-title span {
  color: #ffffff;
}
.coupon-section .app-info {
  background-color: #ffffff;
  padding-left: 60px;
  margin-top: 85px;
}
.coupon-section .app-info-title {
  font-size: 47px;
  margin-bottom: 35px;
}
.coupon-section .app-info-desc {
  font-size: 24px;
  max-width: 463px;
  margin-bottom: 40px;
}
.coupon-section .app-info-btns {
  margin-bottom: 40px;
  gap: 15px;
}
.coupon-section .app-info-btns .info-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 171px;
  height: 65px;
  background-color: black;
  color: #ffffff;
  border-radius: 30px;
}
.coupon-section .app-info-btns .info-btn:hover {
  opacity: 0.8;
  transition: all 0.5s ease;
}
.coupon-section .app-info-text {
  max-width: 527px;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

.orange {
  color: #e87212;
}

.blue {
  color: #5aaee8;
}

.wrapper {
  max-width: 1920px;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .wrapper {
    min-width: 360px;
  }
}

.container {
  max-width: 1729px;
  margin: 15px auto;
}

.row {
  display: flex;
  flex-direction: row;
  margin: -15px 0;
}
@media (max-width: 576px) {
  .row {
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  .wrapper [class*=col] {
    flex: 100%;
    max-width: 100%;
  }
}
.col-4 {
  flex: 0 0 33.33334%;
  max-width: 33.33334%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-8 {
  flex: 0 0 66.66668%;
  max-width: 66.66668%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.footer {
  background-color: #e87212;
  font-size: 12px;
  width: 100%;
  height: 60px;
  text-align: center;
  line-height: 60px;
}
.footer a {
  color: black;
}/*# sourceMappingURL=style.css.map */